<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Create a blog</h1>
<p>
    <a href="/blog">Back to Blog list</a>
</p>
<form th:action="@{/blog/save}" th:object="${blog}" method="post">
    <table border="1">
        <tr>
            <td>Blog name</td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>Blog author</td>
            <td><input type="text" th:field="*{author}"></td>
        </tr>
        <tr>
            <td>Blog content</td>
            <td><input type="text" th:field="*{content}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create"></td>
        </tr>
    </table>
</form>
</body>
</html>