<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{blog/create}">Create a new blog</a>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Author</th>
        <th>Content</th>
    </tr>
    <tr th:each="b:${blogs}">
        <td th:text="${b.name}"></td>
        <td th:text="${b.author}"></td>
        <td th:text="${b.content}"></td>
      <td><a th:href="@{blog/__${b.id}__/edit}">Edit</a></td>
      <td><a th:href="@{blog/delete/__${b.id}__}">Delete</a></td>
    </tr>
</table>
</body>
</html>